<div  class="w-full bg-[#2e2e2e]  flex text-white p-4">
    <div class="flex w-[30%] justify-start">
        <div><h1 class="text-orange-200 ">JRomo Developer</h1></div>
    </div>
    <div class="flex flex-1 justify-between">
      <div class="w-[90%] flex justify-around ">
        <div class="hover-text"  routerLink="/home"><a>Home</a> </div>
        <div class="hover-text"  routerLink="/stack"><a>About me</a> </div>
        <div class="hover-text" routerLink="/portfolio"><a>Portfolio</a> </div>
        <div class="hover-text" routerLink="/contact"><a>Contact</a> </div>


      </div>
      <div class=" flex flex-1 justify-around text-xl font-bold">
        <div>
          <i class="hover fa-brands fa-linkedin"></i>
        </div>
        <div><i class="hover fa-brands fa-whatsapp"></i></div>
        <div><i class="hover fa-brands fa-github"></i></div>

      </div>
    </div>
 
</div>