<div class="w-full flex">
    <div class="w-[30%] bg-slate-600 flex flex-col align-middle">



        <div class="m-2 bg-white flex flex-col justify-center rounded-lg">
            <div class="w-full flex justify-center mt-5">
                <img src="../../../assets/img/foto-perfil.jpg" 
                class="w-[10rem] h-[10rem] rounded-full object-cover object-center shadow-xl shadow-black/50 ring-4 ring-gray-900" 
                style="object-position: center top;">        
            
            </div>
            <br>
            <div class="w-full text-center">
           
                <h1 class="text-gray-800 text-2xl">Jorge Romo Diaz de Leon</h1>
            </div>
            <div class="w-full flex justify-around text-sm text-gray-600">
               <div><p><i class="fa-solid fa-phone"></i> (+52) 449 549 4260</p></div>
               <div><p><i class="fa-solid fa-envelope"></i> jrrdl1506mx@gmail.com   </p></div>
            </div>

            <div class="p-5 text-sm text-center text-gray-800">
                <div>Software Engineer | Bachelor's Degree</div>
                <div>Universidad Autonoma de Aguascalientes</div>
            </div>
            <div class="p-1 text-center pb-5">
                <div class="pb-3">
                    <h4 >Development Stack</h4>
                    
                </div>
                <div class="flex flex-col justify-center text-sm">
                    <p>Angular</p>
                    <p>NodeJs</p>
                    <p>Express</p>
                    <p>MongoDB</p>
                    <p>AWS</p>
                    <p>Javascript</p>
                    <p>HTML CSS</p>
                </div>
                
            </div>

        </div>

        <app-stack-carousel></app-stack-carousel> 

        <app-modal></app-modal>





    </div>
    <div class="w-[70%] bg-slate-500">
        <div class="m-2 bg-white rounded-lg">
            <div class="p-5">
                <h1 class="text-center text-4xl text-gray-800">Howdy! My name is Jorge Romo</h1><br>
                <p class="text-justify indent-10">I am a software engineer with 3 years of experience in the development of innovative
                    technological solutions. I have solid knowledge in various development technologies, highlighting
                    the implementation of web and mobile applications. I also have knowledge of networking,
                    electronics and digital design. My work is results-oriented, with analytical and problem-solving
                    skills, and a proactive approach to continuous improvement.
                    </p>
     
            </div>
            <div class="border-t-2 border-gray-500 my-4 mx-6 "></div>
            <div class="mx-8">
                <h1 class="text-xl">Years of Experience:</h1><br>
                <div class="border border-gray-500 p-3 rounded-lg">
                        <div class="flex justify-between">
                            <div>
                                <h4><strong>Ligthbox</strong> -  Lead developer</h4> 
                            </div>
                            <div>
                                <p class="text-xs">Oct 2023 - Today</p> 
                            </div>
                          
                           
                        </div>
                        <br>
                        <div class="text-sm text-justify indent-10">
                            <p>Extensive experience in full-stack web development utilizing JavaScript, Angular, Node.js, Express.js, and MongoDB for building dynamic and scalable applications. Proficient in integrating Firebase for real-time database management and authentication. Skilled in developing backend solutions using ASP.NET Core for high-performance APIs. Well-versed in deploying and managing applications on AWS cloud infrastructure and Neubox hosting, ensuring optimized performance, security, and scalability.</p>
                        </div>

                </div>
                <br>

                <div class="border border-gray-500 p-3 rounded-lg">
                    <div class="flex justify-between">
                        <div>
                            <h4><strong>OSEF Technology</strong> -  Frontend developer</h4> 
                        </div>
                        <div>
                            <p class="text-xs">Mar 2023 - Sep 2023</p> 
                        </div>
                      
                       
                    </div>
                    <br>
                    <div class="text-sm text-justify indent-10">
                        <p>Proficient in full-stack web development, leveraging Angular for building dynamic, responsive, and user-friendly front-end interfaces. Experienced in developing robust backend services using ASP.NET Core Web API, ensuring efficient data processing, security, and scalability. Skilled in database management with SQL Server, utilizing Entity Framework for seamless object-relational mapping (ORM), data querying, and transaction handling. Capable of designing and optimizing database schemas, writing complex queries, and implementing efficient data access patterns to support high-performance applications.</p>
                    </div>
            </div>
            <br>
            <div class="border border-gray-500 p-3 rounded-lg">
                <div class="flex justify-between">
                    <div>
                        <h4><strong>CAADI</strong> -  IT Support (Internship)</h4> 
                    </div>
                    <div>
                        <p class="text-xs">Feb 2022 - Jan 2023</p> 
                    </div>
                  
                   
                </div>
                <br>
                <div class="text-sm text-justify indent-10">
                    <p>Responsible for the maintenance, troubleshooting, and optimization of the institution’s computer systems, ensuring hardware and software functionality, security, and overall system efficiency. Experienced in full-stack web development, utilizing PHP for backend logic, Angular and JavaScript for dynamic front-end interfaces, and HTML/CSS for responsive and visually appealing web design. Skilled in developing and maintaining web applications that enhance institutional operations, ensuring performance, scalability, and user accessibility.</p>
                </div>
                
        </div>
        <br>
            </div>

        </div>
       


    </div>
</div>